html {
	font-size: 62.5%;
}

body {
	margin: 5px;
	padding: 0;
	font-size: 1.8rem;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}


	
* {
	outline: none;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

